site_name: Acquire Docs
repo_url: https://github.com/acquire-project/
#site_url: https://acquire-project.github.io/acquire-docs/
site_url: https://melissawm.github.io/acquire-docs/

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.footer
    - navigation.indexes
    - navigation.tracking
    - content.code.copy
    - toc.follow
  custom_dir: overrides

extra_css:
  - stylesheets/custom.css

extra_javascript:
  - javascripts/version-select.js

nav:
  - Home: index.md
  - Get Started: get_started.md
  - API Reference: api_reference.md
  - Tutorials:
    - tutorials/index.md
    - tutorials/trigger.md
    - tutorials/configure.md
    - tutorials/framedata.md
    - tutorials/start_stop.md
    - tutorials/livestream.md
    - tutorials/select.md
    - tutorials/setup.md
    - tutorials/props_json.md
    - tutorials/trig_json.md
    - tutorials/multiscale.md
    - tutorials/chunked.md
    - tutorials/drivers.md
    - tutorials/storage.md
    - tutorials/compressed.md
  - For contributors:
    - for_contributors/index.md
    - for_contributors/docs_contribution_quickstart.md
    - for_contributors/update_version.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.emoji:
      options:
        custom_icons:
          - overrides/.icons
  - toc:
      permalink: true
  - attr_list


plugins:
  - include-markdown
  - search
  - mike:
      deploy_prefix: ''
