/* Global settings */

html {
    --md-primary-fg-color: black !important;
}

/* Links */
.md-typeset a, a:hover {
    color: var(--md-accent-fg-color);
}

/* Code styling */
.md-typeset pre>code:hover {
    scrollbar-color: var(--md-accent-fg-color) #0000;
}

/* Emoji/icons display */
.md-typeset .emojione svg,
.md-typeset .gemoji svg,
.md-typeset .twemoji svg {
    fill: currentcolor;
    max-height: 100%;
    width: auto;
}

.md-typeset .emojione,
.md-typeset .gemoji,
.md-typeset .twemoji {
    vertical-align: middle;
    display: inline-block;
    height: 3em;
}

.md-source {
    font-weight: 700;
    text-decoration: none !important;
    display: flex;
    align-items: center;
    padding-right: 38px;
    color: var(--md-footer-fg-color);
    opacity: 0.7;
}

.md-source:hover {
    opacity: 1;
}

/* Primary button */
.md-typeset .md-button--primary {
    background-color: var(--md-accent-fg-color);
    border-color: var(--md-accent-fg-color);
    color: var(--md-accent-bg-color);
}

/* Tutorials download button */
a.md-button-center {
    display: flex !important;
    justify-content: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

/***************************
 Navbar
***************************/

.md-header {
    background-color: black;
}

.md-header__ellipsis a:hover {
    color: white;
}

.md-header__links {
    display: flex;
    flex-direction: row;
}

.md-header__button {
    opacity: 0.7;
}

.md-header__links .md-source {
    padding-right: 0px;
}

/* Remove logo and leave only text */
.md-header__button.md-logo {
    display: none;
}

[dir="ltr"] .md-header__title {
    margin-left: 0.6rem;
    display: flex;
}

.md-tabs {
    background-color: black;
}

@media screen and (max-width: 76.2344em) {
    .md-nav--primary .md-nav__title .md-logo {
        display: none;
    }
}

/* Search dialog */
.md-search__form {
    background-color: white;
}

.md-search__form:hover {
    background-color: white;
}

.md-header .md-search__input::placeholder {
    color: #767676;
}

.md-search__icon[for="__search"] {
    color: #767676;
}

/* Mobile menu */
.md-nav--primary .md-nav__title[for="__drawer"] {
    background-color: black;
    padding-left: 17px;
}

.md-nav--primary .md-nav__title {
    height: 3rem;
    padding-top: 0.3rem;
    padding-left: 2rem;
}

.md-nav--primary .md-nav__title .md-nav__icon::after {
    margin-top: 0.3rem;
}

@media screen and (max-width: 800px) {
    .md-nav__source {
        display: none;
    }
}

/***************************
 Hero
***************************/

.mdx-container {
    background-color: #F8F8F8;
    color: black;
}

.mdx-hero__content{
    padding-top: 1.5rem;
    padding-left: 13rem;
    padding-bottom: 1rem;
}

@media (max-width: 800px) {
    .mdx-hero__content {
        padding-left: 0.8rem ;
    }
}

.mdx-hero__content h1 {
    line-height: 1;
    margin-bottom: 0;
    color: var(--md-default-fg-color-light);
}

.mdx-hero__content p {
    line-height: 1.5;
    font-size: 0.75rem;
}

/***************************
 Footer
***************************/

.md-footer {
    background-color: #EFF2FC;
    color: black;
}
.md-footer-meta {
    background-color: black;
    color: white;
}

.md-footer-meta__inner {
    flex-direction: column;
}

.md-footer-meta__inner-social {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    align-items: center;
    justify-content: space-between;
}

.md-footer-meta__inner-social .links {
    padding-left: 14px;
}

html .md-footer-meta.md-typeset a {
    color: var(--md-footer-fg-color--light);
    text-decoration: underline;
}

.md-footer__title:hover {
    color: var(--md-accent-fg-color);
}

/* Vertical line in footer */
.vl {
    border-left: 2px solid white;
    height: 42px;
    opacity: 0.7;
}

/* Remove facts from footer links */
li.md-source__fact {
    display: none;
}

/* Footer mobile display */
@media (max-width: 800px) {
    .vl {
        display: none;
    }
    .md-footer-meta__inner-social {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        padding-left: 1rem;
    }
    .md-footer-meta__inner-social .links {
        padding-left: 0px;
    }
    .czi {
        padding-left: 0px;
    }
    .md-source {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: flex-start;
        padding: 0.3rem 0 0.3rem 0;
    }
}

/***************************
 Cards
***************************/

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

.card {
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding-right: 1rem;
    padding-left: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 0.5fr 1fr 0.5fr;
}

@media (max-width: 800px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }

}

.card h4 {
    margin-bottom: 0.2rem;
}

.card a, p {
    line-height: 1.5;
    font-size: 0.75rem;
}

.card a {
    color: var(--md-accent-fg-color);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.card a:after {
    font: var(--fa-font-solid);
    content: "\f054";
    padding-left: 0.5rem;
}

/***************************
 Dark mode settings
***************************/

@media screen {
  [data-md-color-scheme="slate"] {
        .mdx-container {
            background-color: #191c24;
            color: white;
        }

        .card {
            border: 2px solid #727272;
        
        }

        .md-search__form {
            background-color: #272a35;
        }

        [data-md-toggle="search"]:checked ~ .md-header .md-search__form {
            background-color: white;
            color: #767676;
        }

        [data-md-toggle="search"]:checked ~ .md-header .md-search__input::placeholder {
            color: #767676;
        }
        
        [data-md-toggle="search"]:checked ~ .md-header .md-search__input + .md-search__icon {
            color: #767676;
        }

        [data-md-toggle="search"] ~ .md-header .md-search__input::placeholder {
            color: #767676;
        }

        .md-footer {
            background-color: #191c24;
            color: var(--md-footer-fg-color);
        }
    }
}

#version-selector {
    padding: 0 10px;
}

#version-selector>select {
    width: auto;
    height: auto;
    background-color: var(--md-primary-fg-color);
    color: var(--md-accent-bg-color);
    margin: 2px;
    border: none;
    font-weight: 700;
    font-size: 0.625rem;
}

#version-selector>select:hover {
    text-decoration: underline;
}

.container>#version-selector {
    flex-grow: 1;
}

@media (min-width: 992px) {
    .container>#version-selector {
        flex-grow: 0;
    }
}
